.piece {
  background-color: #ccc;
  /*border: solid 1px #000;*/
  position: absolute;
  box-sizing: border-box;
  transition: transform 0.1s linear;
  transform: translate3d(0px, 0px, 1px);
  background-repeat: no-repeat;
  color: #fff;
  font-size: 1.3em;
  top: 0;
  left: 0;
}
